<a href="https://colab.research.google.com/github/Samarjeet09/MiniProjects/blob/main/Mini%20Project-04%3A%20Marks%20Adding/Mini_Project_Marks_Adding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('Mini Project - Marks Adding.csv')
df

       Roll Num  Marks
0     102003542      1
1     102003640      1
2     102003725      1
3     102003307      1
4     102003458      1
...         ...    ...
1831  102003755      1
1832  102017147      1
1833  102017152      1
1834  102003451      1
1835  102003549      1

[1836 rows x 2 columns]

In [ ]:
d =  {'Roll Num':[],"Marks":[]}
for row in df.index:
  # for each row
  roll = df['Roll Num'][row]
  marks = df['Marks'][row]
  if roll in d['Roll Num']:
    index = d['Roll Num'].index(roll)
    d['Marks'][index] += marks
  else:
    d['Roll Num'].append(roll)
    d['Marks'].append(marks)

In [ ]:
print(d)

{'Roll Num': [102003542, 102003640, 102003725, 102003307, 102003458, 102003643, 102017134, 102003207, 102003315, 102003362, 102003135, 102003650, 102003675, 102003671, 102003374, 102017034, 102003306, 102003141, 102003592, 102003478, 102017030, 102016114, 102003152, 102017101, 102003098, 102003633, 102003132, 102066004, 102003466, 102017188, 102003413, 102016094, 102017190, 102017121, 102003118, 102003681, 102183051, 102017016, 102003649, 102003448, 102003421, 102017152, 102053044, 102003169, 102016049, 102017081, 102053017, 102003299, 102017096, 102003161, 102003109, 102003313, 102003138, 102017078, 102003445, 102003553, 102017186, 102003527, 102003407, 102017100, 102003674, 102183047, 102003160, 102003049, 102003701, 102017159, 102067010, 102003112, 102003522, 102017067, 102003069, 102053019, 102016060, 102003384, 102017169, 102017043, 102017133, 102183052, 102003732, 102003562, 102003235, 102003290, 102003746, 102003694, 102003586, 102003710, 102003439, 102016116, 102003127, 102017084, 102067004, 102016011, 102017005, 102016099, 102053036, 102003441, 102003106, 102003129, 102003346, 102003647, 102003274, 102003090, 102183044, 102003711, 102003624, 102003656, 102017029, 102016082, 102003238, 102003002, 102003614, 102003459, 102003099, 102003760, 102017036, 102003312, 102017143, 102016102, 102067009, 102003505, 102003206, 102003409, 102003738, 102017040, 102003440, 102003688, 102017122, 102017064, 102067007, 102003041, 102017147, 102003356, 102003166, 102017074, 102003707, 102003228, 102003366, 102003165, 102003423, 102053018, 102053032, 102003631, 102003475, 102003663, 102003716, 102017025, 102003333, 102017191, 102003364, 102003101, 102017132, 102017059, 102003405, 102003702, 102003257, 102003472, 102003113, 102053028, 102003628, 102183056, 102003451, 102003578, 102053013, 102003334, 102053012, 102017024, 102003463, 102017045, 102017189, 102003482, 102003178, 102003355, 102017054, 102003393, 102003658, 102003116, 102017195, 102003162, 102003697, 102003256, 102003001, 102016081, 102003137, 102017148, 102003487, 102017139, 102003029, 102003432, 102003177, 102003646, 102003619, 102003171, 102016087, 102016062, 102053022, 102053024, 102003499, 102003367, 102003318, 102017180, 102017104, 102003447, 102003205, 102003425, 102017075, 102017050, 102003083, 102003220, 102183034, 102003018, 102003323, 102003706, 102017010, 102003759, 102003184, 102003661, 102016012, 102016089, 102003039, 102016096, 102003457, 102016083, 102003140, 102053042, 102003017, 102003644, 102016068, 102003042, 102017008, 102003304, 102053007, 102003692, 102017126, 102017069, 102003125, 102003767, 102017171, 102017167, 102016044, 102003673, 102003431, 102003549, 102016075, 102017083, 102003497, 102003494, 102003742, 102017113, 102003105, 102003037, 102003484, 102003655, 102003368, 102003056, 102003493, 102003243, 102003745, 102003157, 102183038, 102053030, 102003424, 102003173, 102003464, 102017112, 102053051, 102003689, 102003403, 102003648, 102003623, 102003622, 102067006, 102003687, 102003512, 102017017, 102003030, 102003071, 102197018, 102017145, 102183040, 102003618, 102053009, 102003665, 102003164, 102017070, 102183035, 102017142, 102003124, 102017184, 102017187, 102017090, 102016109, 102183050, 102053043, 102017137, 102003452, 102016034, 102003427, 102003604, 102003156, 102016105, 102003680, 102197019, 102017089, 102017051, 102003131, 102016090, 102003703, 102003685, 102183048, 102196004, 102003582, 102003541, 102003634, 102003483, 102003560, 102197021, 102003704, 102003070, 102003736, 102003467, 102003373, 102003551, 102003404, 102003718, 102003158, 102017079, 102196010, 102053031, 102017118, 102003772, 102003322, 102017085, 102067011, 102053010, 102197016, 102003242, 102003532, 102003253, 102003485, 102003289, 102017120, 102003402, 102003653, 102003293, 102003580, 102003410, 102003288, 102003712, 102003128, 102016009, 102003251, 102003596, 102017129, 102003468, 102003146, 102017138, 102003559, 102003395, 102017065, 102003380, 102003672, 102003117, 102003050, 102053008, 102003766, 102003139, 102003082, 102003295, 102003053, 102017047, 102017110, 102053005, 102017119, 102017151, 102003465, 102016091, 102017178, 102003768, 102003565, 102053011, 102053035, 102017163, 102017073, 102003396, 102003417, 102003085, 102016066, 102016100, 102003508, 102003406, 102017182, 102003755, 102017172, 102017060, 102016110, 102017150, 102003690, 102003149, 102003089, 102180347], 'Marks': [4, 5, 5, 4, 5, 5, 4, 4, 5, 4, 4, 5, 5, 4, 3, 5, 5, 5, 5, 5, 2, 4, 3, 5, 5, 3, 5, 5, 5, 5, 4, 4, 5, 4, 5, 5, 4, 4, 5, 4, 2, 5, 3, 5, 5, 5, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 5, 5, 5, 4, 4, 5, 5, 5, 5, 4, 2, 5, 3, 5, 4, 4, 5, 5, 4, 5, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 4, 5, 3, 5, 5, 4, 5, 4, 2, 5, 5, 5, 3, 5, 3, 5, 5, 5, 5, 5, 3, 5, 5, 5, 5, 5, 5, 5, 4, 4, 5, 5, 5, 5, 5, 5, 2, 5, 4, 5, 4, 5, 5, 4, 3, 4, 2, 4, 5, 5, 3, 5, 5, 5, 5, 4, 4, 4, 5, 3, 4, 5, 5, 5, 5, 5, 4, 5, 5, 1, 5, 3, 5, 4, 5, 5, 5, 5, 5, 5, 4, 4, 5, 2, 4, 5, 4, 3, 5, 5, 5, 5, 3, 5, 3, 5, 5, 4, 5, 5, 5, 4, 5, 4, 3, 3, 5, 2, 4, 5, 5, 2, 5, 5, 4, 5, 5, 4, 5, 5, 5, 5, 5, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 3, 4, 5, 4, 4, 5, 3, 5, 4, 5, 2, 5, 4, 4, 5, 5, 5, 5, 5, 5, 5, 4, 5, 4, 5, 4, 3, 5, 5, 4, 5, 5, 4, 5, 4, 5, 5, 5, 5, 5, 4, 5, 4, 5, 5, 4, 4, 5, 5, 4, 5, 4, 5, 3, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 3, 5, 5, 4, 5, 5, 4, 5, 5, 2, 5, 5, 5, 5, 3, 5, 5, 1, 5, 5, 4, 5, 5, 5, 4, 5, 5, 5, 3, 5, 5, 5, 5, 4, 3, 4, 4, 5, 5, 5, 5, 5, 4, 5, 3, 4, 0, 5, 4, 5, 3, 5, 5, 3, 5, 5, 5, 3, 4, 5, 2, 4, 5, 5, 5, 4, 5, 5, 4, 4, 5, 5, 4, 5, 5, 5, 4, 4, 4, 5, 5, 5, 5, 4, 4, 3, 4, 4, 2, 1, 1, 4, 5, 5, 4, 5, 2, 5, 5, 5, 4, 4, 4, 1, 2, 1, 1]}

In [ ]:
newDf = pd.DataFrame(d)
newDf
#

      Roll Num  Marks
0    102003542      4
1    102003640      5
2    102003725      5
3    102003307      4
4    102003458      5
..         ...    ...
395  102017150      4
396  102003690      1
397  102003149      2
398  102003089      1
399  102180347      1

[400 rows x 2 columns]

In [ ]:
newDf.to_csv("output.csv")